.clientpage {
  display: flex;
  height: auto;
  display: flex;
  flex-direction: column;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 83%,
    rgba(240, 240, 240, 1) 93%
  ); */
}

.client_headline {
  color: #bd72d3;
font-weight: 700;
font-family: "Montserrat";
  font-size: 3rem;
  margin-left: 10%;
}

.client_container {
  height: fit-content;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(7, minmax(150px, 1fr)) !important;
  grid-template-rows: repeat(2, auto) !important;
  gap: 10px;
}

/* Responsive Styles for Tablets */
@media only screen and (max-width: 768px) {

}

/* Responsive Styles for Phones */
@media only screen and (max-width: 480px) {

}


@media screen and (max-width: 1024px) {
  .client_container {
    grid-template-columns: auto auto auto auto !important;
  }
}
@media screen and (max-width: 768px) {
  .clientpage {
    padding: 0px 2%;
  }
  .client_headline {
    text-align: center;

    color: #b056be;
    font-size: 45px;
    margin-left: 0px;
  }
  .client_container {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .profileCard {
    overflow: hidden;
    margin: 2px;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: auto !important;
  }



.container{
  max-width: fit-content !important;
}
}
@media screen and (max-width: 450px) {

  .client_container {
    grid-template-columns: repeat(1, minmax(150px, 1fr)) !important;
    }
}

@media screen and (max-width: 425px) {

  /* .contact_image {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
} */

  .clientpage {
    margin-top: 1.5rem !important;
    height: auto;
    padding: 0px 2%;
  }
  .client_headline {
    text-align: center;
    color: #b056be;
    font-size: 30px;
    margin-left: 0px;
  }

}
@media screen and (max-width: 1200px) {

.flats-container{

    grid-template-columns: repeat(30, 90px) !important;
    gap: 8px !important;
}
}