.profileCard {
  overflow: hidden;
  margin: 2px;
  cursor: pointer;
  position: relative;
  width: 100%;
height: 200px;

}

.profileCard img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 426px) {

  .show-tab{
    display: block;
  }

  .show-mob{
    display: none;
  }

}

@media screen and (max-width: 425px) {

  .show-tab{
    display: none;
  }

  .show-mob{
    display: block;
  }
  .profileCard {
    width: 100%;
    height: auto;
  }

  .profileCard img {
    width: 100%;
    height: auto;
  }
}
